.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.flexer {
  display: flex;
  justify-content: space-between;
}

#delete-form {
  display: inline;
}
